.wrapper {
  background-color: #bcbcbc;
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.post {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  max-height: 90vh;
  overflow-y: auto;

  &__author-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding-top: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;

    &__author {
      color: var(--title-color);
      font-weight: 600;
    }

    &__date {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 15px;
    }

    &__new-user {
      margin: 4px 0;
      background-color: #faffd8;
      width: 100%;
      padding: 20px;
      display: grid;
      grid-template-columns: 60px 1fr;
      align-items: center;
      gap: 10px;
      position: relative;
      border-radius: 20px;

      &__image {
        @extend .post__author-image;
      }

      &__icon {
        display: flex;
        align-items: center;
        justify-items: center;

        img {
          height: 60px;
          width: 60px;
        }

        position: absolute;
        right: 1rem;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }

  &__panel {
    &__wrapper {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    display: flex;
    align-items: center;
    gap: 14px;

    &__item {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    &__views {
      display: flex;
      align-items: center;

      &__icon {
        width: 16px;
      }
    }
  }

  &__comments {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__comment-input {
    display: flex;
    gap: 10px;
    width: 100%;

    &__image {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    input {
      width: 100%;
      border-radius: 20px;
      border: 1px solid var(--border-color);
      padding: 10px;
    }
  }
}
